<aside class="akalia-sidebar d-flex flex-column justify-content-between align-items-center">
  <nav class="w-100 mt-4 d-flex flex-column align-items-center gap-3">

    <!-- Dashboard -->
    <a href="/dashboard" class="btn-option">
      <i class="fa-solid fa-chart-line"></i>
      <span class="sidebar-label d-none d-md-inline">Dashboard</span>
    </a>

    <!-- Usuarios -->
    <a href="/usuarios" class="btn-option">
      <i class="fa-solid fa-users"></i>
      <span class="sidebar-label d-none d-md-inline">Usuarios</span>
    </a>

    <!-- Emprendimientos -->
    <a href="/usuario-emprendimientos>" class="btn-option">
      <i class="fa-solid fa-store"></i>
      <span class="sidebar-label d-none d-md-inline">Emprendimientos</span>
    </a>
    
    <!-- Pedidos -->
    <a href="/pedidos" class="btn-option">
      <i class="fa-solid fa-box"></i>
      <span class="sidebar-label d-none d-md-inline">Pedidos</span>
    </a>

    <!-- Comisiones -->
    <a href="/comisiones" class="btn-option">
      <i class="fa-solid fa-dollar-sign"></i>
      <span class="sidebar-label d-none d-md-inline">Comisiones</span>
    </a>

    <!-- Categorías -->
    <a href="/categorias" class="btn-option">
      <i class="fa-solid fa-tags"></i>
      <span class="sidebar-label d-none d-md-inline">Categorías</span>
    </a>

    <!-- Reportes -->
    <a href="/reportes" class="btn-option">
      <i class="fa-solid fa-file-lines"></i>
      <span class="sidebar-label d-none d-md-inline">Reportes</span>
    </a>

  </nav>

  <!-- Logout -->
  <div class="w-100 mb-4 d-flex flex-column align-items-center">
    <button class="btn-option w-100 d-flex logoutBtn" onclick="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="sidebar-label d-none d-md-inline">Cerrar sesión</span>
    </button>
  </div>
</aside>