<!-- <!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>
    Agregar Emprendimiento | Akalia - (Obsoleto)
  </title>
  <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/styles/usuario-perfil.css">
</head>

<body class="d-flex flex-column min-vh-100 m-0 bg-blanco-light">
  <%- include('../partials/navbar.ejs'); %>
    <div class="container py-5 text-center">
      <h3>Esta página fue migrada a un modal en la vista de "Mis Emprendimientos"</h3>
      <p>Por favor utiliza la sección "Mis Emprendimientos" para crear un nuevo emprendimiento; se abrirá un formulario
        como modal.
      </p>
      <a href="/usuario-emprendimientos/<%= idPersona %>" class="btn btn-terracota">Ir a Mis Emprendimientos</a>
    </div>
    <%- include('../partials/footer.ejs'); %>
</body>

</html> -->